body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #868585;
    background: #c9c9c9;
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
}
header {
    margin: 40px 0 50px;/*отступ меню*/
}
.menu {
    background: #353535;
    padding: 0px 0;
}
.navbar-brand {
    padding-right: 80px;
}
.navbar-brand img {
    position: relative;
    top: -36px;
}
.icons a {
    padding: 15px 5px;
    color: #8fa81f;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    top: -28px;
}
.menu .container {
    position: relative;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
		.menu {
    padding: 14px 0;
}
		.icons a {

    position: relative;
    top: 12px;
}
.navbar-brand img {
    position: relative;
    top: -50px;
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.icons a {
    padding: 5px 5px;
    color: #8fa81f;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    top: 12px;
}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
		.menu {
    padding: 0px 0;
}
    .navbar-brand img {
        top: -11px;
        max-height: 67px;
    }

        .icons a {
    padding: 15px 1px;
    color: #8fa81f;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    top: -24px;
}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    header {
        margin: 20px 0 20px;
    }

    .icons a {
    padding: 15px 1px;
    color: #8fa81f;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    top: -28px;
}
img {
    max-width: 100%;
    height: auto;
}
}

@media only screen and (min-width: 481px) {
    .icons {
        display: block !important;
    }
}
